$bluish: #48A6B6;
$reddish: #E97B64;
$dark: #374249;

@mixin after-clear {
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}

html {
	font-size: 75%;
}

body {
	font-family: 'Droid Arabic Naskh', 'sans';
	direction: rtl;
	color: #363636;
	font-size: 1em;
	line-height: 1.5em;

    position:               absolute;
    height:                 auto;
    top:                    0;
    left:                   0;
    bottom:                 0;
    right:                  0;
	margin: 0;
	padding: 0;

	display: flex;
	flex-flow: column;
}

* {
	box-sizing: border-box;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.scroller {
	overflow-x: hidden;
	overflow-y: auto;
}

.flex-left {
	display: flex;
	flex-flow: row-reverse;
	flex-grow: 1;
	align-items: center;
}

.radio-button-group {
	display: flex;
	flex-flow: row;

	input[type=radio] {
		visibility: hidden;
		margin: 0;
		padding: 0;
		width: 1px;
	}

	.radio-button {
		display: flex;
		flex-flow: row;
	}
	label {
		padding: 4px 20px;
		margin-left: 2px;
		font-size: 1.3em;
		cursor: pointer;
		height: 76px;
		line-height: 70px;
		// font-weight: bold;

		color: HSL(203, 4%, 45%);

		transition: all .2s ease;

		&:hover {
			color: HSL(203, 10%, 75%);
		}

		span {
			padding: 0 3px;
		}
	}

	input[type=radio]:checked + label {
		// border-bottom: 6px solid #333;
		color: white;

		span {
			border-bottom: 2px solid #47B7CB;
		}
	}
}

/* SLIDE THREE */
.slideThree {
	width: 80px;
	height: 26px;
	background: #333;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);

	input[type=checkbox] {
		visibility: hidden;
	}
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}

body > header {
	@include after-clear;
	background-color: HSL(203, 14%, 25%);
	height: 76px;
	-webkit-app-region: drag;

	display: flex;
	flex-flow: row;
	align-items: center;

	[role=logo] {
		background: #45A7B9 url('../images/icon-32-white.png') no-repeat center center;
		height: 76px;
		width: 76px;
	}

	.flex-left {
		padding-left: 2em;
	}
}

.container {
	padding: 1em;
	display: none;
	flex: 1;

	&.active {
		display: flex;
		flex-flow: column;
	}
}

#feed-sources .scroller {
	height: 24em;
	flex: 1;
}

#feed-sources table {
	width: 100%;

	border-spacing: 0;
	border-collapse: collapse;

	thead tr {
		border-bottom: 2px solid $bluish;
	}

	th {
		text-align: right;
	}

	td, th {
		line-height: 2em;
	}

	td:first-child {
		font-family: 'FontAwesome';
		text-align: center;
	}
}

#stats {
	max-width: 500px;
	margin: 0 auto;

	@include after-clear;

	.stat-card {
		float: right;
		width: 250px;
		height: 150px;

		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;

		span { display: block }
		.number {
			font-size: 2.5em;
			color: $reddish;
			line-height: 1.5em;
		}
		.label {
			font-weight: bold;
		}
	}
}